<section class="home">
  <v-card class="mx-auto">
    <v-toolbar color="purple" dark>
      <v-toolbar-title>My e-commerce</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </v-toolbar>

    <v-container fluid>
      <v-row dense>
        <v-col v-for="product in products" :key="product.id" :cols="flex">
          <v-card class="mx-auto" max-width="344">
            <v-img
              src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
              height="200px"
            ></v-img>

            <v-card-title> {{product.nombre}} </v-card-title>

            <v-card-subtitle> {{product.descripcion}} </v-card-subtitle>

            <v-card-actions>
              <v-btn color="orange lighten-2" text>
                $ {{product.precio}}
              </v-btn>

              <v-spacer></v-spacer>

              <v-btn icon>
                <v-icon>mdi-cart</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</section>
