<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-text-field
      v-model="name"
      :counter="15"
      :rules="nameRules"
      label="Nombre"
      required
    ></v-text-field>

    <v-text-field
      v-model="lastname"
      :counter="15"
      :rules="lastnameRules"
      label="Apellido"
      required
    ></v-text-field>

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>

    <v-text-field
      v-model="mensaje"
      :counter="100"
      :rules="mensajerules"
      label="Mensaje"
      required
    ></v-text-field>

    <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
      Enviar
    </v-btn>

    <v-btn color="error" class="mr-4" @click="reset"> Limpiar </v-btn>
  </v-form>
</template>
